{% extends 'base.html' %}
{% load md2 universaltag_tags gravatar assets %}
{% block title %}{{blog.title}}{% endblock %}

{% block head %}
	{% if request.user.is_authenticated %}
		{% render_universaltag_head %}
	{% else %}
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/django.universaltag.css">
	{% endif %}
	<link rel="stylesheet" href="{{ STATIC_URL }}django_markdown/skins/simple/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}django_markdown/markdown.css">
	<script src="{{ STATIC_URL }}django_markdown/jquery.markitup.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}django_markdown/markdown.js" type="text/javascript"></script>
{% endblock %}

{% block container %}
<div class="row">
	<div class="span4">
		<div class="well">We are one</div>
	</div>
	<div class="span8">
		<div class="well">
			<div class="alert alert-success">
				<h2>{{blog.title}}</h2>
			</div>
			<div class="alert alert-message">
				{{blog.content|markdown2:"safe, code-friendly, code-color"}}
			</div>
			<div class="well note date">
					{% gravatar blog.user.email 40%}
					<div class="date">
						<p>{{blog.user}}</p>
						<p>{{blog.create_time|date:"Y-m-d H:i:s"}}</p>
					</div>
					<a class="btn btn-success" href="#note">
						<i class="icon-comment"> </i>
						评论({{blog.discuess.count}})
					</a>
			</div>
			<div class="well tags">
				{% if not request.user.is_authenticated %}
				<div class="universaltag">
					<ul class="universaltag ui-sortable">
						{% for tag in blog.tags.all %}
						<li class="tag frozen" pk="{{tag.pk}}">
							<a href="{{tag.tag.get_absolute_url}}">{{tag.tag}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				{% render_universaltag_tags of blog %}
				{% endif %}
			</div>
		</div>
		<div class="well note" id="note" name="note">
			{% for disc in blog.discuess.all %}
			<div class="well">
				<div class="note-head">
					{% gravatar disc.email 40%}
					<div>
						<p>{{disc.name}}</p>
						<p>{{disc.create_time|date:"Y-m-d H:i:s"}}</p>
					</div>
					{% if request.user.is_authenticated %}
					<a href="javascript:;" class="label label-important del-disc" style="float:right;" data-url="{% url disc_del disc.pk %}">
						<i class="icon-remove"></i>&nbsp;&nbsp;删除
					</a>
					{% endif %}
				</div>
				<div class="note-body">
					{{disc.content|markdown2:"safe, code-friendly, code-color"}}
				</div>
			</div>
			{% endfor %}
			<div class="form alert">
				<form action="." method="post">
					{% csrf_token %}
					{{form.as_p}}
					<p>
						<button type="submit" class="btn btn-success">
							<i class="icon-ok"> </i>&nbsp;&nbsp;提交
						</button>
						<span class="label label-success" style="margin-left:140px;">Markdown is enabled!</span>
					</p>
				</form>
			</div>
		</div>
	</div>
{% assets filters="closure_js" output="assets/js/discuss.js" "js/discuss.js" %}
	<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
</div>
{% endblock %}

