{% extends 'base.html' %}
{% load md2 universaltag_tags %}
{% block title %}首页{% endblock %}
{% block head %}{% render_universaltag_head %}{% endblock %}
{% block navbar %}
<a class="brand" href="#">iLab</a>
<div class="nav-collapse">
	<ul class="nav">
		<li class="active">
			<a href="#">首页</a>
		</li>
	</ul>
	<form class="navbar-search pull-left">
		<input type="text" class="search-query" placeholder="Search">
	</form>
</div>
{% endblock %}
{% block container %}
<div class="row">
	<div class="span8">
		{% for blog in blogs %}
		<div class="well">
			<div class="alert alert-success">
				<h2>{{blog.title}}</h2>
			</div>
			<div class="alert alert-message">
				{{blog.content|markdown2:"safe, code-friendly, code-color"}}
			</div>
			<div class="alert alert-info">
				<strong>{{blog.user}}</strong> at <strong>{{blog.create_time|date:"Y-m-d"}}</strong>
			</div>
			<div class="alert alert-info">
				Tags:{% render_universaltag_tags of blog %}
			</div>
		</div>
		{% empty %}
		<div class="well">
			<div class="alert alert-success">
				<h2>Hello!</h2>
			</div>
			<div class="alert alert-message">
				内容
			</div>
			<div class="alert alert-info"><strong>A</strong> at <strong>2012-08-18</strong></div>
		</div>
		{% endfor %}
		{% if pagination.has_other_pages %}
		<div class="pagination">
			<ul>
				{% if pagination.has_previous %}
				<li>
					<a href="./?p={{pagination.previous_page_number}}">前一页</a>
				</li>
				{% endif %}
				{% for i in pagination.paginator.page_range %}
				{% if pagination.number == i %}
				<li class="active">
					<a href="javascript:;">{{i}}</a>
				</li>
				{% else %}
				<li>
					<a href="./?p={{i}}">{{i}}</a>
				</li>
				{% endif %}
				{% endfor %}
				{% if pagination.has_next %}
				<li>
					<a href="./?p={{pagination.next_page_number}}">后一页</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</div>
	<div class="span4">
		<div class="well">We are one</div>
	</div>
</div>
{% endblock %}