body {
	padding-top: 70px;
}
div.well.note.date {
	height: 40px;
}
div.well.tags {
	padding: 10px;
}
div.note.date a.btn {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
}
div.note.date div.date{
	float: left;
	line-height: 14px;
	padding-left: 10px;
	padding-right: 15px;
}
div.note.date img.gravatar{
	float: left;
}
div.note-head>img{
	float: left;
}
div.note-head>div{
	float: left;
	margin-left: 5px;
	line-height: 15px;
}
div.note-body {
	clear: both;
	margin-left: 45px;
}
#id_content{
	width: 100%;
	height: 100px;
}
.markItUpContainer {
	width: 540px;
}
