{% extends 'base.html' %}
{% load i18n md2 universaltag_tags gravatar assets %}
{% load url from future %}
{% block title %}{{blog.title}}{% endblock %}
{% block description %}{{blog.title}}{% endblock %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="{{ STATIC_URL }}django_markdown/skins/simple/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}django_markdown/markdown.css">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/django.universaltag.css">
{% endblock %}

{% block head %}
	{% if request.user.is_authenticated %}
		{% render_universaltag_head %}
	{% endif %}
	<script src="{{ STATIC_URL }}django_markdown/jquery.markitup.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}django_markdown/markdown.js" type="text/javascript"></script>
{% endblock %}

{% block container %}
<div class="row">
	<div class="span4">
		<div class="well">
			<h4>Tags:</h4>
			{% for tag in tagmanager.all %}
				<a href="{{ tag.get_absolute_url }}" class="label {{tag_styles|random}}">{{tag}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="span8">
		<div class="well">
			<div class="alert alert-success">
				<h4>{{blog.title}}</h4>
			</div>
			<div class="alert alert-message">
				{{blog.content|markdown2:"safe, code-friendly, code-color"}}
			</div>
			<div class="well note date">
					{% gravatar blog.user.email 40%}
					<div class="date">
						<p>{{blog.user}}</p>
						<p>{{blog.create_time|date:"Y-m-d H:i:s"}}</p>
					</div>
					{% if request.user.is_authenticated %}
					<a class="btn btn-danger" href="{% url 'admin:blog_blog_delete' blog.pk %}">
						{% trans '删除' %}
					</a>
					<a class="btn btn-primary" href="{% url 'admin:blog_blog_change' blog.pk %}">
						{% trans '编辑' %}
					</a>
					{% endif %}
					<a class="btn btn-success" href="#note">
						<i class="icon-comment"> </i>
						{% trans '评论' %}({{blog.discuess.count}})
					</a>
			</div>
			<div class="well">
				<div class="bshare-custom">
					<a title="分享到" href="javascript:;" class="bshare-more">{% trans '分享到' %}</a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:;"></a>
					<a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:;"></a>
					<a title="分享到人人网" class="bshare-renren" href="javascript:;"></a>
					<a title="分享到豆瓣" class="bshare-douban" href="javascript:;"></a>
					<a title="分享到Facebook" class="bshare-facebook" href="javascript:;"></a>
					<a title="分享到Twitter" class="bshare-twitter" href="javascript:;"></a>
					<a title="分享到Google+" class="bshare-gplus" href="javascript:;"></a>
					<a title="分享到42区" class="bshare-42qu" href="javascript:;"></a>
					<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis" href="javascript:;"></a>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
			{% if blog.tags.all or request.user.is_authenticated %}
			<div class="well tags">
				{% if not request.user.is_authenticated %}
				<div class="universaltag">
					<ul class="universaltag ui-sortable">
						{% for tag in blog.tags.all %}
						<li class="tag frozen" pk="{{tag.pk}}">
							<a href="{{tag.tag.get_absolute_url}}">{{tag.tag}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				{% render_universaltag_tags of blog %}
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="well note" id="note" name="note">
			{% for disc in blog.discuess.all %}
			<div class="well">
				<div class="note-head">
					{% gravatar disc.email 40%}
					<div>
						<p>{{disc.name}}</p>
						<p>{{disc.create_time|date:"Y-m-d H:i:s"}}</p>
					</div>
					{% if request.user.is_authenticated %}
					<a href="javascript:;" class="label label-important del-disc" style="float:right;" data-url="{% url disc_del disc.pk %}">
						<i class="icon-remove"></i>&nbsp;&nbsp;{% trans '删除' %}
					</a>
					{% endif %}
				</div>
				<div class="note-body">
					{{disc.content|markdown2:"safe, code-friendly, code-color"}}
				</div>
			</div>
			{% endfor %}
			<div class="form alert">
				<form action="." method="post">
					{% csrf_token %}
					{{form.as_p}}
					<p>
						<button type="submit" class="btn btn-success">
							<i class="icon-ok"> </i>&nbsp;&nbsp;{% trans '提交' %}
						</button>
						<span class="label label-success" style="margin-left:140px;">Markdown is enabled!</span>
					</p>
				</form>
			</div>
		</div>
	</div>
	<script src="{{ STATIC_URL }}assets/js/discuss.js" type="text/javascript"></script>
</div>
{% endblock %}

