{% extends 'base.html' %}
{% load i18n md2 universaltag_tags gravatar pygmentify %}
{% load url from future %}
{% block title %}{% trans '首页' %}{% endblock %}
{% block description %}{% trans '首页' %}{% endblock %}

{% block head %}
	{% block css %}
	{{block.super}}
		{% if request.user.is_authenticated %}
	{% render_universaltag_head %}
		{% else %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/django.universaltag.css">
		{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/codehighlight.css" />
	{% endblock %}
{% endblock %}

{% block container %}
<div style="display:none">
	<a class="bshareDiv" href="http://www.bshare.cn/share">{% trans '分享按钮' %}</a>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#9C3&amp;text=分享到"></script>
</div>
<div class="row">
	<div class="span8">
		{% for blog in blogs %}
		<div class="well">
			<div class="alert alert-success">
				<h4>{{blog.title}}</h4>
			</div>
			<div class="alert alert-message">
				{{blog.content|markdown2:"code-friendly, code-color"|pygmentify}}
			</div>
			<div class="well note date">
					{% gravatar blog.user.email 40%}
					<div class="date">
						<p>{{blog.user.get_full_name}}</p>
						<p>{{blog.create_time|date:"Y-m-d H:i:s"}}</p>
					</div>
					{% if request.user.is_authenticated %}
					<a class="btn btn-danger" href="{% url 'admin:blog_blog_delete' blog.pk %}">
						{% trans '删除' %}
					</a>
					<a class="btn btn-primary" href="{% url 'admin:blog_blog_change' blog.pk %}">
						{% trans '编辑' %}
					</a>
					{% endif %}
					<a class="btn btn-success" href="{{blog.get_absolute_url}}#note">
						<i class="icon-comment"> </i>
						{% trans '评论' %}({{blog.discuess.count}})
					</a>
			</div>
			{% if blog.tags.all or request.user.is_authenticated %}
			<div class="well tags">
				<h6>{% trans '标签' %}:</h6>
				{% if not request.user.is_authenticated %}
				<div class="universaltag">
					<ul class="universaltag ui-sortable">
						{% for tag in blog.tags.all %}
						<li class="tag frozen" pk="{{tag.pk}}">
							<a href="{{tag.tag.get_absolute_url}}">{{tag.tag}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				{% render_universaltag_tags of blog %}
				{% endif %}
			</div>
			{% endif %}
		</div>
		{% empty %}
		<div class="well">
			<div class="alert alert-success">
				<h2>Hello world!</h2>
			</div>
			<div class="alert alert-message">
				This is new blog site.
			</div>
			<div class="alert alert-info"><strong>Someone</strong> at <strong>Today</strong></div>
		</div>
		{% endfor %}
		{% if pagination.has_other_pages %}
		<div class="pagination">
			<ul>
				{% if pagination.has_previous %}
				<li>
					<a href="./?p={{pagination.previous_page_number}}">{% trans '前一页' %}</a>
				</li>
				{% endif %}
				{% for i in pagination.paginator.page_range %}
				{% if pagination.number == i %}
				<li class="active">
					<a href="javascript:;">{{i}}</a>
				</li>
				{% else %}
				<li>
					<a href="./?p={{i}}">{{i}}</a>
				</li>
				{% endif %}
				{% endfor %}
				{% if pagination.has_next %}
				<li>
					<a href="./?p={{pagination.next_page_number}}">{% trans '后一页' %}</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</div>
	<div class="span4">
		<div class="well">
			<h4>{% trans '标签' %}:</h4>
			{% for tag in tagmanager.all %}
				<a href="{{ tag.get_absolute_url }}" class="label {{tag_styles|random}}">{{tag}}</a>
			{% endfor %}
		</div>
		<div class="well">
			<h4>{% trans '简介' %}:</h4>
			{{ USERPROFILE|markdown2:"safe, code-friendly, code-color" }}
		</div>
	</div>
</div>
{% endblock %}