{% extends 'base.html' %}
{% load static i18n md2 universaltag_tags gravatar %}
{% block title %}{% trans '登录' %}{% endblock %}
{% block description %}{% trans '登录' %}{% endblock %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{% endblock %}

{% block container %}
<div class="row">
	<div class="span3">&nbsp;</div>
			<div class="span6">
				<div class="well login" style="text-align:center;">
					<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
						<div class="form-row">
							<div class="control-group">
								<label class="control-label" for="id_username">{% trans 'Username:' %}</label>
								<div class="controls">
									{{ form.username }}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="id_password">{% trans 'Password:' %}</label>
								<div class="controls">
									{{ form.password }}
								</div>
							</div>
							<input type="hidden" name="this_is_the_login_form" value="1" />
							<input type="hidden" name="next" value="{{ next }}" />
						</div>
						<button class="btn btn-large btn-primary" type="submit">
							{% trans 'Log in' %}
							<!-- <input type="submit" value="{% trans 'Log in' %}" /> -->
						</button>
					</form>
				</div>
			</div>
	<div class="span3">&nbsp;</div>
</div>
{% endblock %}